body {
  background-color: #221f25;
  background-image: url(https://ik.imagekit.io/jptv/amypellegrini/amy-website-cover.jpg?tr=w-1364,h-1700,cm-extract);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: relative;
  top: -10vh;
  color: #ffc600;
  text-align: center;
}

header h1 {
  letter-spacing: 6px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

header p {
  margin: 0;
  letter-spacing: 4px;
  font-family: "Baskervville", "Times New Roman", Times, serif;
  font-size: 1.8rem;
}
