body {
  background-color: #211f23;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

header {
  color: #ffc600;
  text-align: center;
}

header h1 {
  letter-spacing: 6px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

header p {
  margin: 0;
  letter-spacing: 4px;
  font-family: "Baskervville", "Times New Roman", Times, serif;
  font-size: 1.8rem;
}
