body {
  background-color: #eeeeee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  color: #333333;
}

a {
  color: #333333;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 0;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  margin-top: 14px;
  border-bottom: 3px solid #cc0000;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

h4 {
  margin: 1rem 0 0;
  font-size: 1.6rem;
  font-family: "EB Garamond", "Georgia", "Times New Roman", serif;
}

p {
  font-size: 1.3rem;
  margin: 0;
}

article ul li p {
  color: #666666;
  font-family: "EB Garamond", "Georgia", "Times New Roman", serif;
  font-style: italic;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.social-list {
  margin-top: 1rem;
  margin-left: 0;
}

ul.social-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

header {
  color: #333333;
  display: flex;
}

header .subtitle {
  margin: 0;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
}

header .header-image {
  margin-right: 5px;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

header .header-image img {
  width: 100%;
  height: 100%;
}

.social-list-icon {
  width: 25px;
  height: 25px;
}

.aside {
  padding: 10px;
}

.article {
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    gap: 4rem;
  }

  ul.social-list {
    margin-top: 2rem;
    margin-left: 28px;
  }

  header .header-image {
    margin-right: 10px;
    height: 85px;
    width: 85px;
  }

  header h1 {
    padding-top: 6px;
    font-size: 3.6rem;
    line-height: 3rem;
  }

  header .subtitle {
    line-height: 1.8rem;
    font-size: 1.6rem;
  }
}
